<div class="row">
	<p style="text-align:center;margin-top:20px;"><a href="#list_pages/">List pages</a> to display existing pages</p><p style="text-align:center;margin-top:20px;"><a href="#create_page/">Create page</a> to add new page</p>
</div>
